<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACT</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href=" {{ url_for('static', filename='Images/Logo.png') }} ">
</head>
<body background="{{ url_for('static', filename='Images/background.png') }}">
    
    <section class="header">
        <nav>
            <a href="/home"><img class="logo-img" src="{{url_for('static', filename='Images/Logo.png')}}" width="120" height="120" ALT="align box" ALIGN=CENTER  margin="0px" padding="0px"></a>
               <div class="nav-links">
                   <ul>
                       <li><a href="/home">Home</a></li>
                       <li><a href="/about">About</a></li>
                       <li><a href="/contact">Contact</a></li>
                       <li><a href="/problems">Problems</a></li>
                       <li><a href="/logout">Logout</a></li>
                   </ul>
   
               </div>
           </nav> 
        <h1 style="border: 2px solid orange; padding: 10px; background-color: orange; text-align: center;" class = "animation"> CONTACT</h1>
        <div class = "contact-title">
            <h2 style="text-align: center;"><mark>WE WILL HELP</mark></h2>
            <h3><mark>DOES NOT WORK AS OF YET PLEASE EMAIL: contactdmanswers@gmail.com. If you have issues or want new updates send an EMAIL!</mark></h3>
        </div>
        <div class="contact-form">
            <form id="contact-form" method="post" action="contactFormHandler.php">
                <input name="name" type="text" class="form-control" placeholder="Your Name" required>
                <br>
                <input name="email" type="email" class="form-control" placeholder="Your Email" required>
                <br>
                    <textarea name="message" class="form-control" placeholder="Message" row="4" required></textarea> <br>
                    <input type="submit" class="form-control submit" value="SEND MESSAGE">
            </form>
        </div>
    </head>
</html>