<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACT</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href=" {{ url_for('static', filename='Images/Logo.png') }} ">
</head>
<body background="{{ url_for('static', filename='Images/background.png') }}">
    
    <section class="header">
        <nav>
            <a href="/home"><img class="logo-img" src="{{url_for('static', filename='Images/Logo.png')}}" width="120" height="120" ALT="align box" ALIGN=CENTER  margin="0px" padding="0px"></a>
               <div class="nav-links">
                   <ul>
                       <li><a href="/home">Home</a></li>
                       <li><a href="/about">About</a></li>
                       <li><a href="/contact">Contact</a></li>
                       <li><a href="/problems">Problems</a></li>
                       <li><a href="/logout">Logout</a></li>
                   </ul>
   
               </div>
           </nav> 
        <h1 style="border: 2px solid white; padding: 10px; background-color: black; text-align: center;" class = "animation"> CONTACT</h1>
        <div class = "contact-title">
             
        <form action="mailto:contactdmanswers@gmail.com" method="post" enctype="text/plain">
            <h3 style="color: white; font:bolder" class="contact_input">Name</h3><br>
            <input type="text" name="name" required><br>
            <h3 style="color: white; font:bolder" class="contact_input">Email</h3><br>
            <input type="email" name="mail" required><br>
            <h3 style="color: white; font:bolder" class="contact_input">Message</h3><br>
            <input type="text" name="comment" size="80" required><br><br>
            <input type="submit" value="Send" class="hero-btn">
            <input type="reset" value="Reset" class="hero-btn">
            </form>
    </head>
</html>