<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
	<link rel="icon" type="image/x-icon" href=" {{ url_for('static', filename='Images/Logo.png') }} ">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body background="{{ url_for('static', filename='Images/background.png') }}">
	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
		{% for category, message in messages %}
			{% if category=='error' %}
				<div class="alert">
					<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
					{{message}}
				</div>
			{% else %}
			<div class="alert1"> <!--SUCCESS-->
				<span class="closebtn1" onclick="this.parentElement.style.display='none';">&times;</span> 
				{{message}}
			  </div>
			{% endif %}
		{% endfor %}
	{% endif %}
	{% endwith %}
    <form method="POST"> 
	<div class="container">
		<h1>Login</h1>
        <input type="email" name="email" id="email" required placeholder="Email">
		<input type="password" name="password" id="password" required placeholder="Password"> <!--PASSWORD-->
		<button type="submit">Login</button>
		<p>Don't have an account? Than <a href="/signup">Signup</a></p>
		<br>
		<p>Don't want to login? View the Static website (no login required but progress is not saved!) Click this: <a href="https://validmath.netlify.app/" style="color: white; font-size:x-large;">LINK</a></p>
	  </div>
    </form>







	
</body>